# created by virtualenv automatically
# ----------------------------------------
.env
config.ini
config.py
# ----------------------------------------

# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/
pip-log.txt
# ----------------------------------------

# ----------------------------------------
*.log
*.tmp
*~
# ----------------------------------------

# ----------------------------------------
.DS_Store          # macOS
.vscode/           # Visual Studio Code
.idea/             # PyCharm / IntelliJ
# ----------------------------------------
